#{extends 'template.html' /}
          <section class="main-section">
            <!-- The map -->
            <div id="map_canvas"></div>

            <!-- New SF Modal -->
            <div id="new-sf-modal" class="reveal-modal full" data-reveal>
              <h2 class="text-center">Plan a new spot fix</h2>
              <form data-abide id="new-sf-form">
                <div class="row">
                  <div class="small-12 medium-12 large-12 columns">
                    <label>Where <small>required</small>
                      <input id="where" type="text" required pattern="[a-zA-Z]+" placeholder="Behind Nal Stop bus stand" />
                    </label>
                    <small class="error">Where is the spot fix planned?</small>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-12 large-12 columns">
                    <label>Description <small>required</small>
                      <input id="description" type="text" required pattern="[a-zA-Z]+" placeholder="Garbage is dumped behind the bus stand" />
                    </label>
                    <small class="error">Please describe the spot fix</small>
                  </div>
                </div>
                <div class="row">
                  <div class="small-6 medium-6 large-6 columns">
                    <label>Date <small>required</small>
                      <input id="ddMMyyyy" type="text" required pattern="ddmmyyyy" placeholder="dd/mm/yyyy" />
                    </label>
                    <small class="error">Date of spot fix, e.g. 02/10/2014</small>
                  </div>
                  <div class="small-6 medium-6 large-6 columns">
                    <label>Time <small>required</small>
                      <input id="HHmm" type="text" required pattern="hhmm" placeholder="hh:mm" />
                    </label>
                    <small class="error">Time of spot fix, e.g. 16:00</small>
                  </div>
                </div>
                <div class="row">
                  <div class="small-3 column empty-column"></div>
                  <input class="small-6 column" id="photo" name="photo" type="file" accept="image/*;capture=camera">
                  <input type="hidden" id="new-sf-photo-uploader">
                  <div class="small-3 column empty-column"></div>
                </div>
                <div class="row">
                  <div class="small-3 column empty-column"></div>
                  <a href="#" id="new-sf-photo-upload" class="small-6 column button">Submit</a>
                  <div class="small-3 column empty-column"></div>
                </div>
              </form>
              <a class="close-reveal-modal">&#215;</a>
            </div>

            <!-- SF Info Modal -->
            <div id="sf-info-modal" class="reveal-modal full" data-reveal>
              <h2 class="text-center" id="info-name"></h2>
              <div class="row">
                  <p class="small-12 columns empty-column"></p>
              </div>
              <div class="row">
                  <div class="small-4 columns empty-column"></div>
                  <p id="info-description" class="small-4 columns"></p>
                  <div class="small-4 columns empty-column"></div>
              </div>
              <div class="row">
                  <div class="small-4 columns empty-column"></div>
                  <p id="info-date" class="small-4 columns"></p>
                  <div class="small-4 columns empty-column"></div>
              </div>
              <div class="row">
                  <div class="small-4 columns empty-column"></div>
                  <p id="info-participants" class="small-4 columns"></p>
                  <div class="small-4 columns empty-column"></div>
              </div>
              <div class="row">
                  <div class="small-4 columns empty-column"></div>
                  <a id="sf-join" class="small-4 columns button round">Join</a>
                  <div class="small-4 columns empty-column"></div>
              </div>
              <a class="close-reveal-modal">&#215;</a>
              </div>
            </div>

            <!-- dashboard (scooch slider) -->
            <div id="dashboard">
              <div id="dashboard-title">
                <h3 class="subheader text-center">Dashboard</h3>
              </div>
              <div id="dashboard-content">
                <div class="m-scooch m-fluid m-scooch-photos">
                  <!-- the slider -->
                  <div class="m-scooch-inner">
                    <!-- the items -->
                    <div class="m-item m-active">
                      <h2 class="text-center">__ spotfixes planned near you</h2>
                    </div>
                    <div class="m-item">
                      <h2 class="text-center">You participated in __ spotfixes</h2>
                    </div>
                  </div>
                  <!-- the controls -->
                  <div class="m-scooch-controls m-scooch-bulleted">
                    <a href="#" data-m-slide="prev">Previous</a>
                    <a href="#" data-m-slide="next">Next</a>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <script>
            //initialize dashboard (scooch slider)
            $('.m-scooch').scooch();

            //globals
            var map;
            var detectedCurrentLocation = false;
            //default location: sagar, madhya pradesh
            var latitude = 23.8374857;
            var longitude = 78.7486267;
            var markerClusterer = new MarkerClusterer();
            var bounds = new google.maps.LatLngBounds();
            var boxText = document.createElement("div");
            boxText.style.cssText = "border: 1px solid black; margin-top: 8px; background: white; padding: 5px;";
            var infobox = new InfoBox({
                content: boxText,
                disableAutoPan: false,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(-140, 0),
                zIndex: null,
                boxStyle: {
                    opacity: 0.75,
                    width: "280px"
                },
                closeBoxMargin: "10px 2px 2px 2px",
                closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
                infoBoxClearance: new google.maps.Size(1, 1),
                isHidden: false,
                pane: "floatPane",
                enableEventPropagation: false
            });

            //map
            function loadMap(location) {
              var zoomLevel = 4;

              if(location) {
                latitude = location.coords.latitude;
                longitude = location.coords.longitude;
                zoomLevel = 10;
                detectedCurrentLocation = true;
              }

              // Create a simple map.
              map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: zoomLevel,
                minZoom: 4,
                maxZoom: 25,
                center: {lat: latitude, lng: longitude},
                zoomControl: true,
                zoomControlOptions: {
                  style: google.maps.ZoomControlStyle.SMALL,
                  position: google.maps.ControlPosition.TOP_RIGHT
                },
                streetViewControl: false,
                mapTypeControl: false,
                panControl: false,
                rotateControl: false,
                scaleControl: false,
                overviewMapControl: false
              });

              // Add marker for current location
              var myLatLng = new google.maps.LatLng(latitude, longitude);
              var currentMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: "/public/img/cursor6.png"
              });

              markerClusterer.setMap(map);
              google.maps.event.addListener(map.data, 'addfeature', function (e) {
                if (e.feature.getGeometry().getType() === 'Point') {
                  var marker = new google.maps.Marker({
                    position: e.feature.getGeometry().get(),
                    title: e.feature.getProperty('name'),
                    map: map
                  });
                  google.maps.event.addListener(marker, 'click', function (marker, e) {
                    return function () {

                        var name = e.feature.getProperty('name');
                        var description = e.feature.getProperty('description');
                        var date = e.feature.getProperty('date');
//                        var photos = e.feature.getProperty('photos');
//                        var plannedBy = e.feature.getProperty('plannedby');
                        var participants = e.feature.getProperty('participants');
                        $("#info-name").text(name);
                        $("#info-description").text(description);
                        $("#info-date").text("Date: " + date);
                        $("#info-participants").text("Participants: " + participants.length);
                        $("#sf-info-modal").foundation('reveal', 'open');
//                        var name = e.feature.getProperty('name');
//                        var description = e.feature.getProperty('description');
//                        var date = e.feature.getProperty('date');
//                        var photos = e.feature.getProperty('photos');
//                        var plannedBy = e.feature.getProperty('plannedby');
//                        var participants = e.feature.getProperty('participants');
//                        $("#info-name").val(name);
//                        $("#info-description").val(description);
//                        $("#info-date").val("Date: " + date);
//                        $("#info-participants").val("Participants: " + participants);
//                        var readMoreLink = document.createElement('a');
//                        readMoreLink.setAttribute('href', "#");
//                        readMoreLink.setAttribute('data-reveal-id', "sf-info-modal");
//                        readMoreLink.innerHTML = "read more";
//                        boxText.innerHTML = "<div style='text-align: center;'><h3>" + name + "</h3></div>";
//                        boxText.appendChild(readMoreLink);
//                        infobox.setPosition(e.feature.getGeometry().get());
//                        infobox.setOptions({
//                            pixelOffset: new google.maps.Size(0, 0)
//                        });
//                        infobox.open(map);
                    };
                  }(marker, e));
                  markerClusterer.addMarker(marker);
                  bounds.extend(e.feature.getGeometry().get());
//                  map.fitBounds(bounds);
//                  map.setCenter(e.feature.getGeometry().get());
                }
              });

              // Load all spotfixes
              map.data.loadGeoJson("/api/spotfix/all.json");

              // Set rendering style for data points
              map.data.setStyle({
                title: "Spotfix",
                icon: "/public/img/black71.png"
              });

              map.data.setMap(null);
              google.maps.event.addListener(map, "click", function () {
                infobox.close();
              });

              //create the SpotFix button
              if(detectedCurrentLocation) {
                initSpotFixButton(map);
              }
            }

            function onMapLoadError(error) {
              switch(error.code) {
                case error.PERMISSION_DENIED:
                  console.log("User denied the request for Geolocation.");
                  break;
                case error.POSITION_UNAVAILABLE:
                  console.log("Location information is unavailable.");
                  break;
                case error.TIMEOUT:
                  console.log("The request to get user location timed out.");
                  break;
                case error.UNKNOWN_ERROR:
                  console.log("An unknown error occurred.");
                  break;
              }
              loadMap();
            }

            function initialize() {
              //ask for location permission
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(loadMap, onMapLoadError);
              } else {
                loadMap();
              }

              $('#new-sf-photo-uploader').fileupload({
                url: '/api/spotfix/newphoto',
                sequentialUploads: true,
                add: function(e, data) {
                    var jqXHR = data.submit()
                        .success(function(result, textStatus, jqXHR) {
//                            console.log(JSON.stringify(result));
                            newSpotFix(
                                $("#where").val(),
                                $("#description").val(),
                                $("#ddMMyyyy").val(),
                                $("#HHmm").val(),
                                latitude,
                                longitude,
                                result.blobid
                            )
                        })
                        .error(function (jqXHR, textStatus, errorThrown) {
                            
                        });
                }
              });

              $("#new-sf-photo-upload").click(function(e) {
                  console.log("Submit button clicked");
                  $("#new-sf-photo-uploader").fileupload('add', {
//                      fileInput: $("#new-sf-photo")
                      fileInput: $("#photo")
                  })
              });


            }

            google.maps.event.addDomListener(window, 'load', initialize);
          </script>
